*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//Site Container
#micrositeContainer{margin:0 auto; max-width:1280px; width:100%;}

//Site Content Area
#micrositeContent{margin:0 auto; overflow:auto; position: relative; width:1120px;}
#micrositeContent #micrositeContentColumnFull{display:none;}
#micrositeContent #micrositeContentColumnLeft{float: left; height:auto; width: 176px;}
#micrositeContent #micrositeContentColumnRight{float: right; width:300px;}
#micrositeContent #micrositeContentColumnMain{margin:0 330px 0 0; min-width:580px;}
.articleMain{
	margin:0 330px 0 206px !important;
}