.messageUnit{background-color:#ffffff; border:1px dashed slategray; height:250px; margin-bottom:20px; width:300px;}
.relatedResources{
	background-color:#ffffff; 
	width: 300px;

	p.sectionTitle{
		color: #666;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 14px;
		line-height: 2;
	}
}