.carouselContainer
  .slider1.group.menuSlider.w175
    .previousButton
    .previous Previous
    ul.bxslider
      li
        p 1 and attack the Romulans. 
      li
        p 2 I recommend you don't fire until you're within 40,000 kilometers. Did you come here for something in particular
      li
        p 3 You bet I'm agitated! I may be surrounded by insanity, but I am not insane.
      li
        p 4 Sure. You'd be surprised how far a hug goes with Geordi, or Worf.
      li
        p 5 Some days you get the bear, and some days the bear gets you.
      li
        p 6 Wouldn't that bring about chaos?
      li
        p 7 A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you.
      li
        p 8 Your head is not an artifact!
      li
        p 9 Could someone survive inside a transporter buffer for 75 years?
      li
        p 10 and attack the Romulans. 
        span Read more >>
      li
        p 11 I recommend you don't fire until you're within 40,000 kilometers.
        span Read more >>
      li
        p 12 You bet I'm agitated! I may be surrounded by insanity, but I am not insane.
        span Read more >>
    .nextButton
    .next Next