extends layoutIndex

block content
	#micrositeContainer
		include header
		#micrositeContent
			#micrositeContentColumnFull
			#micrositeContentColumnLeft
				include leftRail
			#micrositeContentColumnRight
				include rightRail
			#micrositeContentColumnMain
				include contentArticle
		include footer