extends layoutIndex

block content
	#micrositeContainer
		include header
		#micrositeContent
			#micrositeContentColumnFull
			#micrositeContentColumnLeft
			#micrositeContentColumnRight
				include rightRail
			#micrositeContentColumnMain
				include contentTopic
		include footer